<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">
      <link href="{{ site.url }}/css/syntax.css" rel="stylesheet">


      {% include analytics.html %}
    </head>
    <body>
      <nav>
          <ul>
              <li><a href="{{ site.url }}/">About</a></li>
              <li><a href="{{ site.url }}/research">Research</a></li>
              <li><a href="{{ site.url }}/publications">Publications</a></li>
              <li><a href="https://github.com/vjysd/cv/blob/master/Sadashivaiah_CV.pdf">CV</a></li>
              <li><a href="{{ site.url }}/contact">Contact</a></li>
          </ul>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:vjs@jhu.edu">mail</a></li>
              <li><a href="https://github.com/vjysd">github</a></li>
              <li><a href="https://www.linkedin.com/in/vijaysadashivaiah">linkedin</a></li>
              <li><a href="https://www.instagram.com/vjysd">instagram</a></li>
              <li><a href="https://www.facebook.com/vijaysadashivaiah">facebook</a></li>
        </ul>
      </footer>

    {% include scripts.html %}
    </body>
  </html>
